In [1]:
from chart_studio import plotly
import plotly.graph_objs as go
import plotly.tools as tls
import pandas as pd
import aws_helper
# requests.packages.urllib3.disable_warnings() # this squashes insecure SSL warnings - DO NOT DO THIS ON PRODUCTION!

In [2]:
redshift_endpoint = aws_helper.DB_HOST
redshift_user = aws_helper.DB_USER
redshift_pass = aws_helper.DB_PASSWORD
port = int(aws_helper.DB_PORT)
dbname = aws_helper.DB

In [3]:
from sqlalchemy import create_engine
engine_string = "postgresql+psycopg2://%s:%s@%s:%d/%s" \
% (redshift_user, redshift_pass, redshift_endpoint, port, dbname)
engine = create_engine(engine_string)

In [17]:
df = pd.read_sql_query("""
SELECT sp.location, SUM(a.name::int) as artist_count FROM songplays sp JOIN artists a ON a.artist_id=sp.artist_id GROUP BY sp.location;
""", engine)

df.head()

InternalError: (psycopg2.errors.InternalError_) Invalid digit, Value 'T', Pos 0, Type: Integer
DETAIL:
  -----------------------------------------------
  error:  Invalid digit, Value 'T', Pos 0, Type: Integer
  code:      1207
  context:   The Verve
  query:     344
  location:  :0
  process:   query1_124_344 [pid=0]
  -----------------------------------------------


[SQL:
SELECT sp.location, SUM(a.name::int) as artist_count FROM songplays sp JOIN artists a ON a.artist_id=sp.artist_id GROUP BY sp.location;
]
(Background on this error at: http://sqlalche.me/e/14/2j85)

In [12]:
locations = df['location']
df[['City','State']] = df.location.str.split(',', expand=True)
df.head()

,songplay_id,start_time,user_id,level,song_id,artist_id,session_id,location,user_agent,City,State
0,3,1541838013796,44,paid,SOTNHIP12AB0183131,ARD46C811C8A414F3F,350,"Waterloo-Cedar Falls, IA",Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; r...,Waterloo-Cedar Falls,IA
1,10,1543399408796,82,paid,SOEOLOO12AB018BB4E,ARKFJI71187FB55484,140,"Atlanta-Sandy Springs-Roswell, GA","""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3...",Atlanta-Sandy Springs-Roswell,GA
2,17,1542803850796,15,paid,SOJTBRF12AB018E3EA,ARSDVTF11F4C844C69,764,"Chicago-Naperville-Elgin, IL-IN-WI","""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",Chicago-Naperville-Elgin,IL-IN-WI
3,24,1542140035796,95,paid,SOUPKAB12AB0185DF9,ARAGJTD1187B9A8646,411,"Winston-Salem, NC","""Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like...",Winston-Salem,NC
4,39,1542835039796,49,paid,SOSYMSX12A6310DFE2,ARH6W4X1187B99274F,816,"San Francisco-Oakland-Hayward, CA",Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20...,San Francisco-Oakland-Hayward,CA